* {
    padding: 0;
    margin: 0;
}

.box {
    height: 200px;
}

.box-1 {
    background-color: red;
    position: static;
}

.box-2 {
    
    height: 68px;
    background-color: gold;
    position: sticky;
    width: 100%;
    top: 0;
    /* position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%); */
}

.box-3 {
    background-color: purple;
    position: sticky;
    top: 68px
}
.box-4 {
    background-color: rgb(0, 128, 73);
}
.box-5 {
    background-color: rgb(11, 228, 221);
    position: static;

}
.box-6 {
    background-color: rgb(255, 63, 9);
}